
 *{	margin: 0;	
 
		padding: 0;	
		font-weight: bold;
		overflow:aito;
			}
   .header{
   width: 100%;
   height: 100%;
   background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("BBGB-2.jpg");
   background-size: cover;
   background-position: center;
   }
   .navbar{
   	width: 85%;	
   	margin: auto;		
   	padding: 35px 0;
   	display: flex;
   	align-items: center;
   	justify-content: space-between;
   }
   .logo{
  width: 120px; 	
  height: 120px;			
  border-radius: 100%;
   }
   .navbar ul li{
   				list-style:none;
   				display: inline-block;
   				margin: 0 20px;
   }
   .navbar ul li a{
   				text-decoration:none;
   				color: white;
   				text-transform: uppercase;
   }
   .content{
   				width: 100%;
   				
   				top: 30%;
   				text-align: center;
   				color: red;
    			   }
 .content p{
    color: red;
 }               
  .about{
  				text-align: center;
  				font-weight: bold;
  				font-size:15px;
  				background-color: lightgrey;
  				padding: 10px;
  				margin-top: 10px;
  } 	
  .h2{
  				background-color: violet;
  				border-radius: 5px;
  }	
  .min{
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("KAMA_LOGO.bmp");
  	width: 100%;			
  height: auto;		
  margin: 10px;		
  background-size: cover;
  justify-content: space-between;
  text-align: center;
  }
  .dep{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("Mother-Union-Logo-2-1024x981.jpg");
        width: 100%;			
    height: auto;		
    margin: 10px;		
    background-size: cover;
    justify-content: space-between;
    text-align: center;
    }
  .min p{
  		text-align: center;
  		padding: 10px;	
  		margin: 5px;	
  		color: white;
  		height: 20%;
  		font-size: 20px;
  }
  .dep p{
    text-align: center;
    padding: 10px;	
    margin: 5px;	
    color: white;
    height: 20%;
    font-size: 20px;
}
  .dep ol{
    text-align: center;
    padding: 10px;	
    margin: 5px;	
    color: white;
    height: 20%;
    font-size: 20px;
}
  .news{
  				width: auto;
  				height:200px;
  				margin: 10px;
  				overflow: hidden;
                border-radius: 10px;
  				
  }
  span{
  				display:flex;
  }
  .btn{
  				text-align: center;
  				height: 50px;
  				width: 100px;
  				border-radius: 10px;
  				
  }
  
.course{
	width: 80%;
	margin: auto;
	text-align: center;      
	padding-top: 100px;
    /* justify-content: space-evenly; */
    /* background-color: rgba(128, 115, 115,0.5); */
}
h1{
	font-size: 36px;
	font-weight: 600;
}
p{
	color: #777;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-around;
}
.course-1{
	flex-basis: 40%;
    justify-content: space-evenly;
	background: #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
    
}
h3{
 text-align: center;
 font-weight: 600;
 margin: 10px 0 ;	
 color: rgb(198, 18, 204);
}
.course-1:hover{
	box-shadow: 0 0 20px rgba(0, 0, 0, 1.2);
	cursor: pointer;
}
.back{
    background-color: darkgrey;
}
.hist{
    background-color: dimgray;
    border-radius: 5px;
}
.hist p{
    font-size: 15px;
    text-align: center;
    color: aliceblue;
}
.reg{
    background-color: aqua;
    border-radius: 20px;
    width: 100spx;
    height: 50px;
}
.reg:hover{
	border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
.reg a{
    text-decoration: none;
    text-transform: uppercase;
    color: beige;
    font:bold;
}
.ster:hover{
	border: 1px solid #f44336; 
    background: #f44336;
    transition: 1s;
}
.ster{
    background-color: aqua;
    border-radius: 10px;
    width: 100px;
    height: 20px;
    text-align: center;

}
.ddb{
    background-color: #777;
}
.form{
    border-radius: 10px;
   
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    
}
.form table{
    color: aqua;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
    text-align: center;
}
.form table td{
    text-align: center;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 20px;
}
.form table tr{
    text-align: center;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 20px;
}
.foot{
    background-color: #777;
    color: rgb(209, 159, 19);
    font-family: Lucida Handwriting, cursive;
    font-size: 20px;
    text-align: center;
}
.foot a{
    text-decoration: none;
        text-align: center;
}
.foot img{
    width: 50px;
    height: 30px;
    overflow: hidden;
    border-radius: 10px;
}